body, html { margin: 0; padding: 0; height: 100%; width: 100%; overflow: hidden;}

body {
	 font-size: 14px;
	 font-family: "Helvetica Neue", "ubuntu", "Segoe UI", "Arial", sans-serif;
}

div#status-bar {
	height: 18px;
	background: #eee;
	border-top: #cccccc solid 1px;
	padding: 0;
	display: block;
}

div#sidebar {
	width: 100%;
	height: 100%;
}

button {
	display: inline;
	padding: 0;
	margin: 0;
	background: none;
	border: none;
}

.ui-layout-center {
}

.ui-layout-pane {
	padding: 0 !important;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

#tabs .ui-corner-all {
	border-radius: 0px;
	border: none;
	border-bottom: 1px #999 solid;
}

#tabs { 
	margin: 0;
	padding: 0;
	border: none;
	font-size: 10px;
	height: 100%;
}

#tabs li .ui-icon-close { 
	float: left; 
	margin: 0.4em 0.2em 0 0; 
	cursor: pointer; 
}

#tabs div {
	margin: 0;
	padding: 0;
}

div#main {
	overflow: hidden;
	z-index: 100;
	background: #ddd;
}

div#intro h1 {
	font-size: 50px;
	font-family: helvetica;
	font-weight: bold;
	color: #999;
	margin: 50px auto 0 auto;
	text-shadow: 1px 1px 1px white;
		
	text-align: center;
}

.wrapper {
	height: 100%;
	margin-bottom: -23px;
	min-height: 100%;
	height: auto !important;
	overflow: hidden;
	z-index: 100;
}

footer, .push {
	position: fixed;
	width: 100%;
	display: block;
	height: 23px;
	z-index: 101 !important;
}

footer {
	background-image: url(../images/footer-bg.png);
	background-repeat: repeat-x;
	line-height: 23px;
	height: 23px;
	overflow: hidden;
}

footer button {
	margin: 0;
	padding: 0 6px 0 6px;
	background-image: url(../images/footer-button-end.png);
	background-repeat: no-repeat;
	background-position: 100%;
	height: 23px;
}

footer button img {
	border: none;
}

