body, html { margin: 0; padding: 0; height: 100%; width: 100%; overflow: hidden;}

body {
  /*  background: #1A1A1A; */
   font-size: 14px;
   font-family: "Helvetica Neue", "ubuntu", "Segoe UI", "Arial", sans-serif;
}

div.bespin { }

div#toolbar {
  height: 18px;
  background: #333333;
  border-top: #cccccc solid 1px;
/*  text-align: right; */
  padding-right: 26px;
}

button {
  display: inline;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

div#pad {
  float: right;
  display: block;
  width: 80%;
  height: 100%;
}

div#sidebar {
  float: left;
  width: 20%;
  height: 100%;
}

.ui-layout-pane {
  padding: 0 !important;
  margin: 0;
}