body, html { margin: 0; padding: 0; height: 100%; width: 100%; overflow: hidden;}

body {
   background: #1A1A1A;
   font-size: 14px;
   font-family: "Helvetica Neue", "ubuntu", "Segoe UI", "Arial", sans-serif;
   
}

div#main {
  border-radius: 15px;
  background: white;
  color: #1A1A1A;
  width: 50%;
  margin: 15px auto;
  padding: 2px 10px 15px 10px;
}

label {
  display: inline;
  width: 150px;
}